<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
    

    


form
  legend Form title
  .form-group
    label(for='') Select a Sring Method
    select#string-method
      option(value='toUpperCase') toUpperCase
  .form-group
    label(for='string-value')
    input.form-control(type='text')
  button.btn.btn-primary(type='submit') Submit

  </body>
</html>